
@model ReflectionIT.Mvc.Paging.PagingList<SnacksUdemy.Models.Snack>

@{
    ViewData["Title"] = "Index";
}


<h1>Snack</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="Filter" 
    value="@Model.RouteValue["Filter"]"/>
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-seach" arial-hidden="true"></span>
        Seach
    </button>
</form>

Total Requests : @Model.TotalRecordCount

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescripton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedDescripton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFavoriteSnack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescripton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailedDescripton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFavoriteSnack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SnackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SnackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SnackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
